In [1]:
import geopandas as gpd
from lonboard import viz, Map, ScatterplotLayer
import numpy as np
import fsspec

In [2]:
url = 'https://data.source.coop/boston-university/bu-glance/bu_glance_training_dataV2.parquet'

with fsspec.open(url) as file:
    gdf = gpd.read_parquet(file)

In [3]:
viz(gdf)

Map(layers=[ScatterplotLayer(table=pyarrow.Table
Lat: double
Lon: double
Start_Year: int64
End_Year: int64
LC_…

In [4]:
gdf.columns

Index(['Lat', 'Lon', 'Start_Year', 'End_Year', 'LC_Class', 'Dataset',
       'Dataset_Code', 'Continent', 'Continent_Code', 'LC_Confidence',
       'Segment_Type', 'Leaf_Type', 'Impervious_Percent', 'Veg_Density',
       'Tree_Location', 'Veg_Modifier', 'Level1_Ecoregion', 'Level2_Ecoregion',
       'Glance_Class_ID_level1', 'Glance_Class_ID_level2', 'Change', 'ID',
       'Glance_ID', 'geometry'],
      dtype='object')

In [5]:
gdf.LC_Class.unique()

array(['Trees', 'Herbaceous', 'Water', 'Shrub', 'Developed',
       'Barren/sparsely vegetated', 'Ice/snow'], dtype=object)

In [10]:
color_dict = {'Trees':[53,130,33,255],#'#358221', 
              'Herbaceous':[171, 200, 53,255],#'#ABC835', 
              'Water':[30, 157, 179,255],#'#1e9db3', 
              'Shrub':[178, 159, 61,255],#'#B29E3D', 
              'Developed':[195, 109, 169,255],#'#C36DA9',
              'Barren/sparsely vegetated':[165, 155, 143 ,255],#'#EDE9E4', 
              'Ice/snow':[203, 241, 241,255]}#'#CBF1F1'}

In [13]:
layer = ScatterplotLayer.from_geopandas(gdf)
map_ = Map(layers=[layer], _height=900)
map_

Map(layers=[ScatterplotLayer(table=pyarrow.Table
Lat: double
Lon: double
Start_Year: int64
End_Year: int64
LC_…

In [14]:
layer.opacity = 0.9
layer.radius_scale = 100
layer.radius_min_pixels=0.5
layer.get_radius = 2
layer.get_fill_color = np.array(gdf.LC_Class.map(color_dict).values.tolist()).astype('uint8')

In [15]:
gdf

,Lat,Lon,Start_Year,End_Year,LC_Class,Dataset,Dataset_Code,Continent,Continent_Code,LC_Confidence,...,Tree_Location,Veg_Modifier,Level1_Ecoregion,Level2_Ecoregion,Glance_Class_ID_level1,Glance_Class_ID_level2,Change,ID,Glance_ID,geometry
0,1.414980,-71.083640,1985,2018,Trees,MapBiomas,5,SA,2,NaN,...,NaN,None,7,7_00,5,0.0,False,0,02_7_00_5_0_1985_2018,POINT (-71.08364 1.41498)
1,1.972296,-70.944320,1985,2018,Trees,MapBiomas,5,SA,2,NaN,...,NaN,None,7,7_00,5,0.0,False,1,02_7_00_5_1_1985_2018,POINT (-70.94432 1.97230)
2,2.097071,-73.839766,1985,2018,Herbaceous,MapBiomas,5,SA,2,NaN,...,NaN,None,7,7_00,7,11.0,False,2,02_7_00_5_2_1985_2018,POINT (-73.83977 2.09707)
3,1.205852,-71.773552,1986,2018,Water,MapBiomas,5,SA,2,NaN,...,NaN,None,7,7_00,1,1.0,False,3,02_7_00_5_3_1986_2018,POINT (-71.77355 1.20585)
4,1.205852,-71.775171,1986,2018,Water,MapBiomas,5,SA,2,NaN,...,NaN,None,7,7_00,1,1.0,False,4,02_7_00_5_4_1986_2018,POINT (-71.77517 1.20585)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1874990,46.911576,10.391939,2018,2018,Herbaceous,Feedback,902,EU,4,NaN,...,NaN,None,1,1_00,7,11.0,False,1641504,04_1_00_902_1641504_2018_2018,POINT (10.39194 46.91158)
1874991,46.410123,9.479237,2018,2018,Herbaceous,Feedback,902,EU,4,NaN,...,NaN,None,1,1_00,7,11.0,False,1641505,04_1_00_902_1641505_2018_2018,POINT (9.47924 46.41012)
1874992,46.421422,9.685952,2018,2018,Herbaceous,Feedback,902,EU,4,NaN,...,NaN,None,1,1_00,7,11.0,False,1641506,04_1_00_902_1641506_2018_2018,POINT (9.68595 46.42142)
1874993,46.890716,9.951898,2018,2018,Herbaceous,Feedback,902,EU,4,NaN,...,NaN,None,1,1_00,7,11.0,False,1641507,04_1_00_902_1641507_2018_2018,POINT (9.95190 46.89072)
1874994,47.154610,11.255868,2018,2018,Herbaceous,Feedback,902,EU,4,NaN,...,NaN,None,1,1_00,7,11.0,False,1641508,04_1_00_902_1641508_2018_2018,POINT (11.25587 47.15461)